.venv
.env
discord_bot_env
__pycache__/
cogs/__pycache__
config_example.py
.venv
cogs/setupguide.py
economy_schema.sql
agents.md

uv.lock
pyproject.toml
Prompt.md

idea

warnings.json
r6_tracker.py
.github


data/reminder.json
